@using LiftBuddy.Models
@model IList<LiftBuddy.Models.Workout>
@{
    ViewData["Title"] = "Workouts Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Performed At</th>
            <th>Exercises</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workout in Model)
        {
            <tr>
                <td>@workout.Id</td>
                <td>@workout.PerformedAt</td>
                <td>
                @if (workout.Exercises != null && workout.Exercises.Count > 0)
                {
                    <ul>
                    @foreach (var exercise in workout.Exercises)
                    {
                        <li>@exercise.Name</li>
                    }
                    </ul>
                }
                </td>
            </tr>
        }
    </tbody>
</table>